@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  /* slate-900 */
  --background-end-rgb: 15, 23, 42;
  /* slate-900 */
}

@theme inline {
  --color-background: rgb(var(--background-start-rgb));
  --color-foreground: rgb(var(--foreground-rgb));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: rgb(15, 23, 42);
  /* slate-900 */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}